@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

:root {
    --color-orange: #FB8433;
    --color-black: #222;
    --color-white: #F2F2F2;
    --color-gray: #C9C9C9;
    --color-light-gray: #D9D9D9;
}

html {
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Pretendard Variable";
    color: var(--color-black);
}

#wrap {
    width: 100%;
    max-width: 2560px;
    overflow: hidden;
    /* border: solid 1px red; */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 30px;
    background: transparent;
    z-index: 50;
}

header .main-logo {
    height: 3.7vh;
}

section {
    width: 100%;
    height: 100vh;
}

section .inner {
    max-width: 1560px;
    margin: 0 auto;
}

section#intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-orange);
    background-image: none;
    background-position: center center;
    background-size: 100%;
    transition: background-color 0.5s ease, background-image 0.5s ease;
}

section#intro div.intro-animation {
    width: 100%;
    height: 46.3vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: introHeight 5s ease;
}

section#intro div.intro-animation h1 {
    font-size: 4.375em;
    font-weight: 100;
}

section#intro div.intro-animation h1 strong {
    font-weight: 700;
}

@keyframes introHeight {
    0% {
        height: 100vh;
    }

    100% {
        height: 46.3vh;
    }
}

section#about img.main-logo {
    display: block;
    width: 10.4vw;
    margin: 50px auto;
    margin-bottom: 0;
}

section#about ul {
    display: flex;
    margin-top: 230px;
    gap: 60px;
    padding: 0 30px;
}

section#about ul li.left-section {
    width: 35.9vw;
}

section#about ul li.left-section p {
    text-align: right;
    font-weight: 100;
    font-size: 4.375em;
    line-height: 1.2
}

section#about ul li.left-section p strong {
    font-weight: 700;
}

section#about ul li.right-section {
    width: 47.4vw;
}

section#about ul li.right-section p {
    width: 100%;
    font-size: 1.5em;
    line-height: 1.21;
    word-break: keep-all;
    white-space: normal;
}

section#member {
    position: relative;
    background: var(--color-orange);
    color: var(--color-white);
}

section#member h1 {
    display: inline-block;
    margin: 50px 0;
    font-weight: 700;
    font-size: 3.75em;
}

section#member ul.member {
    display: flex;
    width: 100%;
    height: 78.7vh;
}

section#member ul.member li {
    width: calc(100% / 5);
    height: 100%;
    background: no-repeat center center / auto 100%;
    transition: all 0.5s ease;
}

section#member ul.member li.youngyun {
    background-image: url(../images/common/youngyun.png);
}

section#member ul.member li.dabin {
    background-image: url(../images/common/dabin.png);
}

section#member ul.member li.sangwoon {
    background-image: url(../images/common/sangwoon.png);
}

section#member ul.member li.junhyung {
    background-image: url(../images/common/junhyung.png);
}

section#member ul.member li.myeongjong {
    background-image: url(../images/common/myeongjong.png);
}

section#member ul.member li:hover {
    width: 50%;
    cursor: pointer;
}

section#member ul.member li:hover .visual {
    background: rgba(0, 0, 0, 0);
}

section#member ul.member li .visual {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease;
}

section#member #modal {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: var(--color-black);
}

section#member #modal .inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1560px;
    height: 100%;
    margin: 0 auto;
    background: var(--color-white);
    z-index: 10;
}

section#member #modal .inner button.close-button {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    font-size: 1.25em;
    color: var(--color-gray);
    border: solid 0.5px var(--color-gray);
}

section#member #modal .inner button.close-button:hover {
    border: solid 0.5px var(--color-black);
    color: var(--color-black);
}

section#member #modal .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 71.3vh;
    padding: 0 50px;
}

section#member #modal .container img {
    height: 71.3vh;
    -webkit-user-drag: none;
    user-select: none;
}

section#member #modal .container .profile-section {
    width: 39.0625vw;
    height: 71.3vh;
    padding: 30px;
    border: solid 3px var(--color-orange);
    text-align: center;
}

section#member #modal .container .name-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1.04vw;
}

section#member #modal .container .profile-section .name-section p.name-kr {
    font-weight: 900;
    font-size: 4.375em;
}

section#member #modal .container .profile-section .name-section p.name-eng {
    font-size: 2.5em;
}

section#member #modal .container .profile-section .info-section {
    margin-top: 40px;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.2;
}

section#album h1 {
    display: inline-block;
    margin: 50px 0;
    font-size: 3.75em;
    font-weight: 700;
    color: var(--color-orange);
}

section#album ul {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 64.8vh;
    border: solid 1px red;
}

section#album ul li {
    width: calc(100% / 4);
    border: solid 1px blue;
}